p:first-of-type {
	color: #6a994e;
	font-size: 1rem;
	font-weight: 600;
	margin: 1rem 0;
}

main ul {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

main ul li {
	background-color: #6d7881;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0.5rem 0;
	font-weight: 600;
}

main ul li a {
	text-decoration: none;
}

@media (width > 768px) {
	main ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	main ul li {
	}
}
